.form-item {
  position:    relative;
  margin:      .9375rem /* 15px -> .9375rem */;
  font-family: 'Raleway', sans-serif;
}

.form-item .form-item__label {
  position:         absolute;
  left:             0;
  top:              0;
  padding:          calc(var(--space-xs) * 0.75) calc(var(--space-xs) * .5);
  margin:           calc(var(--space-xs) * 0.75 + 3px) calc(var(--space-xs) * .5);
  white-space:      nowrap;
  transform:        translate(0, 0);
  transform-origin: 0 0;
  background:       transparent;
  transition:       transform 120ms ease-in;
  font-weight:      bold;
  line-height:      1.2;
  color:            var(--font-color-primary);
}

.form-item .form-text {
  box-sizing:    border-box;
  display:       block;
  width:         100%;
  border:        none;
  border-bottom: 3px solid var(--font-color-primary);
  padding:       calc(var(--space-xs) * 1.5) var(--space-xs);
  color:         var(--color-black);
  background:    transparent;
  border-radius: var(--size-radius);
}

.form-item .form-text::placeholder {
  color: transparent;
}

.form-item .form-text:focus-visible {
  outline: none;
}

.form-item .form-text:focus + .form-item__label,
.form-item .form-text:focus + button + .form-item__label,
.form-item .form-text:not(:placeholder-shown) + .form-item__label,
.form-item .form-text:not(:placeholder-shown) + button + .form-item__label {
  transform:  translate(.25rem, -65%) scale(.8);
  color:      var(--font-color-primary);
}

.form-submit {
  background:     var(--color-white);
  font-size:      .875rem  /* 14px -> .875rem */;
  margin:         1.875rem /* 30px -> 1.875rem */;
  width:          calc(100% - 60px);
  padding:        16px 20px;
  border-radius:  1.625rem /* 26px -> 1.625rem */;
  border:         1px solid var(--border-color-gray);
  text-transform: uppercase;
  font-weight:    700;
  color:          var(--font-color-primary);
  box-shadow:     0px 2px 2px var(--color-shadow-primary);
  cursor:         pointer;
  transition:     .2s;
}

.form-submit:active,
.form-submit:focus,
.form-submit:hover {
  border-color: var(--border-color-gray-hover);
  outline:      none;
}
