:root {
  /* General */
  --max-width: 1200px;

  /* Colores (generales) */
  --color-white:         #fff;
  --color-white-opacity: rgba(255, 255, 255, 0.5);
  --color-black:         #16304d;
  --color-sunglow:       #ffd23f;

  --color-bg-primary: #5D54A4;
  --color-bg-secondary: #7C78B8;

  --primary:   #5E5DFF;
  --secondary: #ffd23f;

  /* Espaciado */
  --space-xl: 3rem;
  --space-l:  1.5rem;
  --space-m:  1rem;
  --space-s:  0.75rem;
  --space-xs: 0.5rem;

  /* Fuentes - Tipografía (generales) */
  --font-size-base: 1rem;
  --font-size-s:    0.75rem;

  /* Bordes */
  --border-xs: 4px;

  /* Mensajes */
  --messages-bg-color:           #353641;
  --messages-fg-color:           var(--color-white);
  --messages-border-radius:      2px;
  --messages-border-width:       0.3125rem;
  --messages--status-color:      #42a877;
  --messages--warning-color:     #e0ac00;
  --messages--error-color:       #e34f4f;
  --messages__link-color:        var(--color-sunglow);
  --messages__link--hover-color: var(--color-white);
  --messages__icon-size:         1rem;
  --messages__text-margin:       calc(var(--messages__icon-size) + var(--space-l));

  /* Local Tasks */
  --local-tasks-bg-color:        #555;
  --local-tasks-bg-color-active: #777;
  --local-tasks-bg-color-hover:  #222;
  --local-tasks-border-color:    #333;
  --local-tasks-font-family:     Verdana, Geneva, sans-serif
}

:root.light-theme {}
