:root {
  /* General */
  --max-width: 75rem /* 1200px -> 75rem */;

  /* Colores (generales) */
  --color-white:         #fff;
  --color-white-opacity: rgba(255, 255, 255, 0.5);
  --color-black:         #16304d;
  --color-black-opacity: rgba(0, 0, 0, 0.87);

  --color-bg-primary:   #C7C5F4;
  --color-bg-secondary: #776BCC;
  --color-bg-card-primary:   rgba(6, 11, 40, 0.94);
  --color-bg-card-secondary: rgba(10, 14, 35, 0.49);

  --color-shadow-primary:    #5C5696;
  --color-shadow-secondary:  #6C63AC;
  --color-shadow-tertiary:   #7E7BB9;

  /* Espaciado */
  --space-xl: 3rem   /* 48px -> 3rem */;
  --space-l:  1.5rem /* 24px -> 1.5rem */;
  --space-m:  1rem   /* 16px -> 1rem */;
  --space-s:  .75rem /* 12px -> .75rem */;
  --space-xs: .5rem  /* 8px -> .5rem */;

  /* Fuentes - Tipografía (generales) */
  --font-size-base: 1rem   /* 16px -> 1rem */;
  --font-size-xl:   1.875rem /* 30px -> 1.875rem */;
  --font-size-x:    1.4375rem /* 23px -> 1.4375rem */;
  --font-size-m:    .875rem /* 14px -> .875rem */;
  --font-size-s:    .75rem /* 12px -> .75rem */;
  --font-color-primary: rgb(52, 71, 103);

  /* Bordes */
  --border-xs: .25rem /* 4px -> .25rem */;
  --border-color-gray:          #D4D3E8;
  --border-color-gray-hover:    #6A679E;
  --border-color-black-opacity: rgba(0, 0, 0, 0.125);

  /* Menús */
  --color-bg-menu:     rgb(26, 31, 55);
  --color-shadow-menu: rgba(0, 0, 0, 0.05);
  --border-color-menu: rgba(0, 0, 0, 0.08);

  /* Mensajes */
  --messages-bg-color:           #353641;
  --messages-fg-color:           var(--color-white);
  --messages-border-radius:      .125rem  /* 2px -> .125rem */;
  --messages-border-width:       .3125rem /* 5px -> .3125rem */;
  --messages--status-color:      #42a877;
  --messages--warning-color:     #e0ac00;
  --messages--error-color:       #e34f4f;
  --messages__link-color:        #ffd23f;
  --messages__link--hover-color: var(--color-white);
  --messages__icon-size:         1rem /* 16px -> 1rem */;
  --messages__text-margin:       calc(var(--messages__icon-size) + var(--space-l));

  /* Local Tasks */
  --local-tasks-bg-color:        #555;
  --local-tasks-bg-color-active: #777;
  --local-tasks-bg-color-hover:  #222;
  --local-tasks-border-color:    #333;
  --local-tasks-font-family:     Verdana, Geneva, sans-serif;
}

:root.light-theme {}
