{#
/**
 * @file
 * Theme override to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 */
#}

{%
  set bem_block = 'view-' ~ view.storage.id()|clean_class ~ '-' ~ view.current_display|clean_class
%}
{%
  set bem_element = bem_block ~ '__grouping'
%}

<div class="{{ bem_element }}">
  {% block content %}
    {{ title }}
    {{ content }}
  {% endblock %}
</div>
