body {
  background-color: var(--color-bg-primary);
  background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.layout-container {
  max-width: var(--max-width);
  margin:    0 auto;
  display:   block;
}
